<div class="funcionarios">
    <table>
        <thead>
            <th>Nome</th>
            <th>Filial</th>
            <th>Cargo</th>
            <th>Salário</th>
            <th>Data Admissão</th>
            <th>Alteração</th>
            <th>Remoção</th>
        </thead>
        <tr *ngFor="let funcionario of funcionarios">
            <td (click)="mostrarFuncionario(funcionario)">{{ funcionario.nome }}</td>
            <td (click)="mostrarFuncionario(funcionario)">{{ funcionario.filial }}</td>
            <td (click)="mostrarFuncionario(funcionario)">{{ funcionario.cargo }}</td>
            <td (click)="mostrarFuncionario(funcionario)">{{ funcionario.salario | currency:'BRL' }}</td>
            <td (click)="mostrarFuncionario(funcionario)">{{ funcionario.admissao | date:'dd/MM/yyyy' }}</td>
            <td><span class="alterar" (click)="alterarFuncionario(funcionario)">Alterar</span></td>
            <td><span class="remover" (click)="removerFuncionario(funcionario)">Remover</span></td>
        </tr>
    </table>

    <div class="buttons">
        <button id="cadastrar" (click)="cadastrarFuncionario()" type="button">
            Cadastrar novo funcionário
        </button>
        <button (click)="removerUltimoFuncionario()" type="button">
            Remover último funcionário
        </button>
        <button (click)="removerFuncionarios()" type="button">
            Remover todos os funcionários
        </button>
    </div>
</div>
