<header>
    <div class="header-content">
        <h1>Funcionários</h1>
    </div>
</header>
<main>
    <app-tabela-funcionarios 
        (detalhesFuncionario)="funcionarioSelecionado = $event"
        (mostrarCampos)="mostrarCampos($event)"
    ></app-tabela-funcionarios>
    <app-fields-funcionario 
        *ngIf="campos" 
        [f]="funcionarioParaAlterar" 
        (fecharCampos)="campos = false"
    ></app-fields-funcionario>
    <app-detalhes-funcionario *ngIf="funcionarioSelecionado" [funcionario]="funcionarioSelecionado" (deselecao)="funcionarioSelecionado = null"></app-detalhes-funcionario>
</main>
<footer>
    <div class="footer-content">
        <p>©Copyright - Todos os direitos reservados.</p>
    </div>
</footer>